venv/
.env
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.csv
.ipynb_checkpoints
.DS_Store
*.swp
.idea/
.vscode/
pip-wheel-metadata/
*.dist-info/
.pytest_cache/